.spacer {
    flex: 1 1 auto;
}

.tech-care-header {
    background-color: #6740bf;
    height: 8vh;
}

p {
    font-size: 14px;
}

.logo {
    margin-right: 6vh;
}

.mat-icon {
    margin-right: 1vh;
}