<mat-toolbar color="primary" class="tech-care-header">
    <img src="{{ logoPath }}" width="170" height="60" />
    <span class="spacer"></span>
    <mat-list-item *ngFor="let item of headerPanelItems">
        <span>
            <button mat-button [routerLink]="['/page1']">{{ item.name }}</button>
        </span>
        <!-- <a routerLink="{{ item.path }}" routerLinkActive="active" ariaCurrentWhenActive="page">{{ item.name }}</a> -->
    </mat-list-item>
    <span class="spacer"></span>
</mat-toolbar>
  