.supplier {
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tech-care-field {
    width: 50vh;
    color: #6740bf !important;
    margin-bottom: 5vh;
}

.alert {
    color: rgba(255, 0, 0, 0.527);
}

::ng-deep .mdc-notched-outline__leading {
    border-color: #6740bf !important;
}

::ng-deep .mdc-notched-outline__notch {
    border-color: #6740bf !important;
}

::ng-deep .mdc-notched-outline__trailing {
    border-color: #6740bf !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: #6740bf !important ;
}
