<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened">
        <mat-list>
            <mat-list-item>Bibliothèque</mat-list-item>
            <mat-list-item>Assictance SAV</mat-list-item>
            <mat-list-item>Clients</mat-list-item>
            <mat-list-item>Administration</mat-list-item>
            <mat-list-item>Rapports</mat-list-item>
           </mat-list>           
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <p><button mat-button (click)="sidenav.toggle()">> Menu</button></p>
    </mat-sidenav-content>
</mat-sidenav-container>