.sidenav-container {
    height: 92vh;
}

.sidenav {
    background-color: #ffffff;
    border-left:1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    width: 25vh
}

.content {
    background-color: #f6fafd;
    border-top:1px solid gray;
}