.sidenav-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92vh;
}

.sidenav {
    background-color: #F4A261;
    width: 20vh;
}

.content {
    background-color: #264653;
}