/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    --mdc-checkbox-disabled-selected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(255, 255, 255, 0.38);
    --mdc-checkbox-selected-checkmark-color: #fff;
    --mdc-checkbox-selected-focus-icon-color: #6740bf;
    --mdc-checkbox-selected-hover-icon-color: #6740bf;
    --mdc-checkbox-selected-icon-color: #6740bf;
    --mdc-checkbox-selected-pressed-icon-color: #6740bf;
    --mdc-checkbox-unselected-focus-icon-color: #6740bf;
    --mdc-checkbox-unselected-hover-icon-color: #6740bf;
    --mdc-checkbox-unselected-icon-color: #6740bf;
    --mdc-checkbox-unselected-pressed-icon-color: #000;
    --mdc-checkbox-selected-focus-state-layer-color: #6740bf;
    --mdc-checkbox-selected-hover-state-layer-color: #6740bf;
    --mdc-checkbox-selected-pressed-state-layer-color: #6740bf;
    --mdc-checkbox-unselected-focus-state-layer-color: #6740bf;
    --mdc-checkbox-unselected-hover-state-layer-color: #6740bf;
    --mdc-checkbox-unselected-pressed-state-layer-color: #6740bf;
    --mat-checkbox-disabled-label-color: rgb(0 0 0 / 50%);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label--float-above{color: #6740bf !important;}
.success-snack .mdc-snackbar__surface{
    background-color: #179351 !important;
}

.error-snack .mdc-snackbar__surface{
    background-color: rgba(255, 0, 0, 0.527) !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label{
    color: white !important;
}    

.mat-mdc-checkbox {
    --mdc-form-field-label-text-color: #6740bf !important;
}

.mat-datepicker-content {
    background-color: #6740bf !important;
}